/*
 * Application-specific device tree overlay for ESP32-C3 SuperMini
 */

/ {
	fstab {
		compatible = "zephyr,fstab";
		ffs1: ffs1 {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/SD:";
		};
	};

	zephyr,user {
		stm32-uart = <&uart1>;
	};
};

&pinctrl {
	uart0_default: uart0_default {
		group1 {
			pinmux = <UART0_TX_GPIO21>;
			output-high;
		};

		group2 {
			pinmux = <UART0_RX_GPIO20>;
			bias-pull-up;
		};
	};

	spim2_default: spim2_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO1>,
				 <SPIM2_SCLK_GPIO3>,
				 <SPIM2_CSEL_GPIO2>;
		};

		group2 {
			pinmux = <SPIM2_MOSI_GPIO4>;
			output-low;
		};
	};

	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO0>;
			output-high;
		};

		group2 {
			pinmux = <UART1_RX_GPIO10>;
			bias-pull-up;
		};
	};

	i2s_default: i2s_default {
		group1 {
			pinmux = <I2S_O_BCK_GPIO7>,
				 <I2S_O_WS_GPIO5>,
				 <I2S_O_SD_GPIO6>;
			output-enable;
		};
	};
};

&trng0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	// status = "disabled";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&i2s {
	pinctrl-0 = <&i2s_default>;
	pinctrl-names = "default";
	status = "okay";

	dmas = <&dma 3>;
	dma-names = "tx";
};

&i2c0 {
	status = "disabled";
};

&spi2 {
	dmas = <&dma 0>, <&dma 1>;
	dma-names = "tx", "rx";

	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <24000000>;
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
	};
};

&dma {
	status = "okay";
};
